h1 {
font-size: 20px;
font-family: Tahoma;

}

h2 {
font-size: 15px;
font-family: Tahoma;
}





#central {

width: 460px;
margin:0 auto;
margin-top:10%;
height: 460px;
position: relative;
border: 1px solid black;
border-radius: 20px;

}



#topqtr {

height:80px;
width:300px;
background-color: red;
float: top;
margin: auto;
clear: both;
text-align: center;

 } 

#leftqtr {


height:300px;
width:80px;
background-color: #ACADA2;
float: left;
margin: auto;
text-align: center;


}


#cube {

height:300px;
width:300px;
margin: auto;
float: left;
text-align: center;
background-color: lightgray;
border-radius: 20px;

}

#rightqtr {


height:300px;
width:80px;
background-color: orange;
float: left;
text-align: center;



 }  

#bottomqtr {

height:80px;
width:300px;
background-color: #0177B5;
clear: both;
margin: auto;
text-align: center;


}



